# Database
POSTGRES_USER=mindiff_user
POSTGRES_PASSWORD=mindiff_password
POSTGRES_DB=mindiff_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://mindiff_user:mindiff_password@localhost:5432/mindiff_db

# JWT Configuration
SECRET_KEY=ed3863ef4244cf9a81eba6b8e1cb640f0537576398d649f7804381ca40678ac9
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Vault
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN=mon-token-dev

# Application
DEBUG=True
# In local dev, allow all origins (Flutter web/Chrome often uses random localhost ports)
CORS_ORIGINS=*
WORKSPACE_PATH=/chemin/vers/le/projet
API_BASE_URL=http://localhost:8000/api
GIF_BASE_URL=http://localhost:8000/static/gifs
EXERCISES_JSON_PATH=/app/scripts/exercises.json

# Edamam Nutrition Analysis API
EDAMAM_APP_ID=your_edamam_app_id
EDAMAM_APP_KEY=your_edamam_app_key
EDAMAM_NUTRITION_URL=https://api.edamam.com/api/nutrition-details
EDAMAM_MEAL_APP_ID=your_meal_app_id
EDAMAM_MEAL_APP_KEY=your_meal_app_key
EDAMAM_RECIPE_URL=https://api.edamam.com/api/recipes/v2