#pragma once
// Copier ce fichier → credentials.h et remplir vos vraies valeurs

#define SIM_SSID     "Wokwi-GUEST"
#define SIM_PASSWORD ""
#define SIM_TOKEN    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
#define SIM_API_URL  "https://votre-api.com/api"
#define SIM_USER_ID  1
